<!DOCTYPE html>
<html>
  <head>
    <title>Admin</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Administrator Check</h1>

    <% if ( admin ) { %>
      <span>You are an administrator</span>
    <% } else { %>
      <span>You are not an administrator</span>
    <% } %>

  </body>
</html>
