body {

  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.navbar-default {
  background-color: #1ED660;
  border-color: none;
}

.navbar a {
  color: #FFFFFF !important;
}
